<app-header></app-header>
<div id="tutorials" class="main">
<div class="tutorial-page">
    <div class="title">
      <h1 class="title">Cómo vender en MarketFree</h1>
    </div>
    <!-- All tutorials container -->
      <div class="tutorial-container">
        <!-- Por qué vender en MarketFree -->
        <div class="tutorial">
          <h3>Por qué vender en MarketFree</h3>
          <!-- Tutorial description -->
          <p>Cuando comienzas a vender en MarketFree, te integras a un destino de ventas en línea que alberga a vendedores de todo tipo, desde empresas con presencia internacional hasta vendedores artesanales que fabrican productos hechos a mano. Todos venden aquí por una misma razón: llegar a los cientos de millones de clientes que visitan MarketFree para comprar.</p>
          <!-- Tutorial preview -->
          <div class="pdf-preview">
              <embed src="../../../assets/tutorial.pdf" type="application/pdf" width="100%" height="500px" />
          </div>
          <div class="button">
              <a href="../../../assets/tutorial.pdf" class="download-link" target="_blank">Descargar PDF</a>
          </div>
        </div>
        <!-- Cómo publicar tus productos -->
        <div class="tutorial">
          <h3>Cómo publicar tus productos</h3>
          <!-- Tutorial description -->
          <p>¿Qué puedes vender en MarketFree? Depende del producto, la categoría y la marca.</p>
          <p>Algunas categorías están abiertas a todos los vendedores y otras están restringidas. Las categorías restringidas requieren autorización para vender, y algunas categorías restringidas incluyen productos que no están abiertas para vendedores externos.</p>
          <!-- Tutorial preview -->
          <div class="pdf-preview">
              <embed src="../../../assets/tutorial.pdf" type="application/pdf" width="100%" height="500px" />
          </div>
          <div class="button">
              <a href="../../../assets/tutorial.pdf" class="download-link" target="_blank">Descargar PDF</a>
          </div>
        </div>
        <!-- Tutorial 3 -->
        <div class="tutorial">
          <h3>Cómo enviar tus productos</h3>
          <!-- Tutorial description -->
          <p>Cuando un cliente de MarketFree compra tu producto, puedes enviar el pedido tú mismo o podemos hacerlo por ti con los servicios de Logística de MarketFree. Tu estrategia de gestión logística dependerá de tus objetivos empresariales.</p>
          <!-- Tutorial preview -->
          <div class="pdf-preview">
              <embed src="../../../assets/tutorial.pdf" type="application/pdf" width="100%" height="500px" />
          </div>
          <div class="button">
              <a href="../../../assets/tutorial.pdf" class="download-link" target="_blank">Descargar PDF</a>
          </div>
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
