<app-header></app-header>

<div class="tutorial-page">
    <h2>How to...</h2>
    <div class="tutorial-container">
      <div class="tutorial">
        <h3>Tutorial 1</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum esse enim omnis corrupti, fugit facilis harum, dolore architecto pariatur error, temporibus at labore ratione ullam ea distinctio asperiores tenetur ducimus!</p>
        <div class="dropdown">
            <button class="dropdown-btn">Mostrar descripción</button>
            <div class="dropdown-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum esse enim omnis corrupti, fugit facilis harum, dolore architecto pariatur error, temporibus at labore ratione ullam ea distinctio asperiores tenetur ducimus!</p>
            </div>
          </div>
        <div class="pdf-preview">
            <embed src="../../../assets/tutorial.pdf" type="application/pdf" width="100%" height="500px" />
        </div>
        <div class="button">
            <a href="../../../assets/tutorial.pdf" class="download-link">Descargar PDF</a>
        </div>
      </div>
      <div class="tutorial">
        <h3>Tutorial 2</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore consectetur laudantium itaque eum eveniet aspernatur molestias aperiam illum nisi impedit minima, labore architecto nihil quas sit, ratione deserunt sint esse.</p>
        <div class="dropdown">
            <button class="dropdown-btn">Mostrar descripción</button>
            <div class="dropdown-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum esse enim omnis corrupti, fugit facilis harum, dolore architecto pariatur error, temporibus at labore ratione ullam ea distinctio asperiores tenetur ducimus!</p>
            </div>
          </div>
        <div class="pdf-preview">
            <embed src="../../../assets/tutorial.pdf" type="application/pdf" width="100%" height="500px" />
        </div>
        <div class="button">
            <a href="../../../assets/tutorial.pdf" class="download-link">Descargar PDF</a>
        </div>
      </div>
      <div class="tutorial">
        <h3>Tutorial 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident architecto esse blanditiis tenetur voluptatem consequuntur quisquam, quae sint saepe, magni ut beatae cupiditate sequi dolore? Ullam quas atque soluta unde!</p>
        <div class="dropdown">
            <button class="dropdown-btn">Mostrar descripción</button>
            <div class="dropdown-content">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum esse enim omnis corrupti, fugit facilis harum, dolore architecto pariatur error, temporibus at labore ratione ullam ea distinctio asperiores tenetur ducimus!</p>
            </div>
          </div>
        <div class="pdf-preview">
            <embed src="../../../assets/tutorial.pdf" type="application/pdf" width="100%" height="500px" />
        </div>
        <div class="button">
            <a href="../../../assets/tutorial.pdf" class="download-link">Descargar PDF</a>
        </div>
      </div>
    </div>
  </div>
  

<app-footer></app-footer>
