<app-header></app-header>
<div id="tutorials" class="main">
<div class="tutorial-page">
    <div class="title">
      <p>How to...</p>
    </div>
    <!-- All tutorials container -->
      <div class="tutorial-container">
        <!-- Tutorial 1 -->
        <div class="tutorial">
          <h3>Tutorial 1</h3>
          <!-- Tutorial description -->
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore consectetur laudantium itaque eum eveniet aspernatur molestias aperiam illum nisi impedit minima, labore architecto nihil quas sit, ratione deserunt sint esse.</p>
          <!-- Tutorial preview -->
          <div class="pdf-preview">
              <embed src="../../../assets/tutorial.pdf" type="application/pdf" width="100%" height="500px" />
          </div>
          <div class="button">
              <a href="../../../assets/tutorial.pdf" class="download-link">Descargar PDF</a>
          </div>
        </div>
        <!-- Tutorial 2 -->
        <div class="tutorial">
          <h3>Tutorial 2</h3>
          <!-- Tutorial description -->
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore consectetur laudantium itaque eum eveniet aspernatur molestias aperiam illum nisi impedit minima, labore architecto nihil quas sit, ratione deserunt sint esse.</p>
          <!-- Tutorial preview -->
          <div class="pdf-preview">
              <embed src="../../../assets/tutorial.pdf" type="application/pdf" width="100%" height="500px" />
          </div>
          <div class="button">
              <a href="../../../assets/tutorial.pdf" class="download-link">Descargar PDF</a>
          </div>
        </div>
        <!-- Tutorial 3 -->
        <div class="tutorial">
          <h3>Tutorial 3</h3>
          <!-- Tutorial description -->
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident architecto esse blanditiis tenetur voluptatem consequuntur quisquam, quae sint saepe, magni ut beatae cupiditate sequi dolore? Ullam quas atque soluta unde!</p>
          <!-- Tutorial preview -->
          <div class="pdf-preview">
              <embed src="../../../assets/tutorial.pdf" type="application/pdf" width="100%" height="500px" />
          </div>
          <div class="button">
              <a href="../../../assets/tutorial.pdf" class="download-link">Descargar PDF</a>
          </div>
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
