<app-header></app-header>

<div id="sell" class="main">
  <div class="title">
    <p>Vende un producto</p>
  </div>
  <div class="sell">
    <!-- Form to sell a product -->
      <form class="sell__form" (ngSubmit)="registrar(forma)" #forma="ngForm">

      <p class="sell__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus veniam praesentium quibusdam ab eaque! Tenetur quos nemo vel. Velit facere perferendis et, neque deserunt quia pariatur! Sint itaque beatae quas assumenda explicabo dicta corporis tempora, ex possimus alias praesentium hic dolorum vero, minus aut? Assumenda maxime consequatur modi non unde: <a>¿Cómo vender?</a></p>
      <!-- Image -->
      <div class="input-group mb-3">
        <input type="text" class="form-control" id="inputImage" name="image" [(ngModel)]="producto.image" required aria-label="Upload">
      </div>
      <!-- Name -->
      <div class="form-floating mb-3">
        <input type="text" class="form-control" name="nombre" [(ngModel)]="producto.name" required id="floatingName" placeholder="Nombre">
        <label for="floatingName">Nombre</label>
      </div>
      <!-- Price -->
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingPrecio" name="Precio" [(ngModel)]="producto.price" required placeholder="Precio">
        <label for="floatingPrecio">Precio</label>
      </div>
      <!-- Description -->
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingDescription" name="Descripcion" [(ngModel)]="producto.description" required placeholder="Descripción">
        <label for="floatingDescription">Descripción</label>
      </div>
      <!-- Quantity -->
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingQuantity" name="quantity" [(ngModel)]="producto.quantity" required  placeholder="Cantidad">
        <label for="floatingQuantity">Cantidad de productos</label>
      </div>
      <!-- Discount -->
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingDiscount" name="discount" [(ngModel)]="producto.discount" required placeholder="Descuento">
        <label for="floatingDiscount">Descuento</label>
      </div>
      <!-- day -->
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingpublishedDay" name="publishday" [(ngModel)]="producto.publishedDay" required placeholder="publishedDay">
        <label for="floatingpublishedDay">publishedDay</label>
      </div>
      <!-- Promotions -->
      <div class="subtitle">
        <p>Elige las promociones que deseas aplicar:</p>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="promotion1">
        <label class="form-check-label" for="promotion1">Promocion</label>
      </div>
      <!-- Labels -->
      <div class="subtitle">
        <p>Elige las etiquetas que apliquen a tu producto:</p>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="label1">
        <label class="form-check-label" for="label1">Etiqueta</label>
      </div>
      <!-- Product visibility -->
      <div class="subtitle">
        <p>¿Qué visibilidad tendrá tu producto?</p>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" name="status" [(ngModel)]="producto.status" required role="switch" id="chVisible" checked>
        <label class="form-check-label" for="chVisible">Visible</label>
      </div>
      <!-- Publish/save button -->
      <button type="submit" class="btn btn-dark">Publicar producto</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
