#sell {
  padding: 40px 0;
}

.title {
  margin-bottom: 30px;
}

.subtitle {
  margin-top: 20px;
}

.btn {
  background-color: #000;
  padding: 10px 50px;
  border-radius: 30px;
  margin-top: 30px;
  align-self: center;
}

.sell {
  padding: 0 50px;

  &__description {
    align-self: center;
    text-align: center;
    max-width: 80%;
    padding: 20px 0;
    font-size: 14px;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }
}
