<app-header></app-header>

<div id="sell" class="main">
  <div class="title">
    <p>Vende un producto</p>
  </div>
  <div class="sell">
    <!-- Form to sell a product -->
    <form class="sell__form">
      <p class="sell__description">Carga fotografías de alta calidad de tus productos y proporciona descripciones detalladas y atractivas. Incluye información sobre características, especificaciones técnicas, tamaños, colores y cualquier otra información relevante.</p>
      <!-- Image -->
      <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputImage" aria-label="Upload">
      </div>
      <!-- Name -->
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" placeholder="Nombre">
        <label for="floatingName">Nombre</label>
      </div>
      <!-- Price -->
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingPrecio" placeholder="Precio">
        <label for="floatingPrecio">Precio</label>
      </div>
      <!-- Description -->
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingDescription" placeholder="Descripción">
        <label for="floatingDescription">Descripción</label>
      </div>
      <!-- Quantity -->
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingQuantity" placeholder="Cantidad">
        <label for="floatingQuantity">Cantidad de productos</label>
      </div>
      <!-- Discount -->
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="floatingDiscount" placeholder="Descuento">
        <label for="floatingDiscount">Descuento</label>
      </div>
      <!-- Promotions -->
      <div class="subtitle">
        <p>Elige las promociones que deseas aplicar:</p>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="promotion1">
        <label class="form-check-label" for="promotion1">Promocion</label>
      </div>
      <!-- Labels -->
      <div class="subtitle">
        <p>Elige las etiquetas que apliquen a tu producto:</p>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="label1">
        <label class="form-check-label" for="label1">Etiqueta</label>
      </div>
      <!-- Product visibility -->
      <div class="subtitle">
        <p>¿Qué visibilidad tendrá tu producto?</p>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="chVisible" checked>
        <label class="form-check-label" for="chVisible">Visible</label>
      </div>
      <!-- Publish/save button -->
      <button type="button" class="btn btn-dark">Publicar producto</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
