<app-header></app-header>

<div id="about" class="main">
    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/BetyMartinez.jpg" alt="">
            </div>
        </div>

        <div class="description">
            <h3>Bety Martinez</h3>
            <h4>Desarrollo de Software</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, eligendi!</p>
        </div>

        <div class="contact">
            <a href="https://www.facebook.com/BettyMtzPerez">Contactame</a>
        </div>
    </div>

    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/BernardoParedes.jpg" alt="">
            </div>
        </div>

        <div class="description">
            <h3>Bernardo Paredes</h3>
            <h4>Desarrollo de Software</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, eligendi!</p>
        </div>

        <div class="contact">
            <a href="https://www.facebook.com/bernardo.paredesdesantos">Contactame</a>
        </div>
    </div>

    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/LucyGuzman.jpg" alt="">
            </div>
        </div>

        <div class="description">
            <h3>Lucy Guzman</h3>
            <h4>Desarrollo de Software</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>

        <div class="contact">
            <a href="https://www.facebook.com/analucia.guzmandeloera">Contactame</a>
        </div>
    </div>

    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/SebasGuerra.jpg" alt="">
            </div>
        </div>

        <div class="description">
            <h3>Sebastian Guerra</h3>
            <h4>Desarrollo de Software</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, eligendi!</p>
        </div>

        <div class="contact">
            <a href="https://www.facebook.com/sebastian.guerra.9849/">Contactame</a>
        </div>
    </div>

<app-footer></app-footer>
