<app-header></app-header>

<div class="title">
  <p>Acerca de los desarrolladores</p>
</div>
<div id="about" class="main">
    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/BetyMartinez.jpg" alt="Foto de: Bety Martinez">
            </div>
        </div>

        <div class="description">
            <h3>Bety Martinez</h3>
            <h4>Desarrollo de Software</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, eligendi!</p>
        </div>
        <div class="contact">
            <a href="https://www.facebook.com/BettyMtzPerez" target="_blank">
              <img src="../../../assets/logo_facebook.png" class="contact__icon">
              Contáctame
            </a>
        </div>
        <div class="contact">
          <a href="https://github.com/tris460" target="_blank">
            <img src="../../../assets/logo_github.png" class="contact__icon">
            Contáctame
          </a>
      </div>
    </div>

    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/BernardoParedes.jpg" alt="">
            </div>
        </div>

        <div class="description">
            <h3>Bernardo Paredes</h3>
            <h4>Desarrollo de Software</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, eligendi!</p>
        </div>
        <div class="contact">
          <a href="https://www.facebook.com/bernardo.paredesdesantos" target="_blank">
            <img src="../../../assets/logo_facebook.png" class="contact__icon">
            Contáctame
          </a>
        </div>
        <div class="contact">
          <a href="https://github.com/Bernardo258" target="_blank">
            <img src="../../../assets/logo_github.png" class="contact__icon">
            Contáctame
          </a>
      </div>
    </div>

    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/LucyGuzman.jpg" alt="">
            </div>
        </div>

        <div class="description">
            <h3>Lucy Guzman</h3>
            <h4>Desarrollo de Software</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="contact">
          <a href="https://www.facebook.com/analucia.guzmandeloera" target="_blank">
            <img src="../../../assets/logo_facebook.png" class="contact__icon">
            Contáctame
          </a>
        </div>
        <div class="contact">
          <a href="https://github.com/AnaLucyGDL" target="_blank">
            <img src="../../../assets/logo_github.png" class="contact__icon">
            Contáctame
          </a>
      </div>
    </div>

    <div class="card">
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/SebasGuerra.jpg" alt="">
            </div>
        </div>

        <div class="description">
            <h3>Sebastian Guerra</h3>
            <h4>Desarrollo de Software</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, eligendi!</p>
        </div>
        <div class="contact">
          <a href="https://www.facebook.com/sebastian.guerra.9849/" target="_blank">
            <img src="../../../assets/logo_facebook.png" class="contact__icon">
            Contáctame
          </a>
        </div>
        <div class="contact">
          <a href="https://github.com/SebastianDiaz49" target="_blank">
            <img src="../../../assets/logo_github.png" class="contact__icon">
            Contáctame
          </a>
      </div>
    </div>
</div>

<app-footer></app-footer>
