<app-header></app-header>

<div class="title">
  <p>Acerca de los desarrolladores</p>
</div>
<div id="about" class="main">
  <!-- Dev card -->
    <div class="card">
      <!-- Dev photo -->
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/BetyMartinez.jpg" alt="Beatriz Martinez">
            </div>
        </div>
        <!-- Dev description -->
        <div class="description">
            <h3>Bety Martinez</h3>
            <h4>Desarrollo de Software</h4>
            <p>He tenido el privilegio de dar vida a la visión de mis clientes.</p>
        </div>
        <!-- Dev links -->
        <div class="contact">
            <a href="https://www.facebook.com/BettyMtzPerez" target="_blank">
              <img src="../../../assets/logo_facebook.png" class="contact__icon">
              Contáctame
            </a>
        </div>
        <div class="contact">
          <a href="https://github.com/tris460" target="_blank">
            <img src="../../../assets/logo_github.png" class="contact__icon">
            Contáctame
          </a>
      </div>
    </div>
  <!-- Dev card -->
    <div class="card">
      <!-- Dev photo -->
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/BernardoParedes.jpg" alt="Bernardo Paredes">
            </div>
        </div>
        <!-- Dev description -->
        <div class="description">
            <h3>Bernardo Paredes</h3>
            <h4>Desarrollo de Software</h4>
            <p>Cada línea de código es un paso hacia la excelencia.</p>
        </div>
        <!-- Dev links -->
        <div class="contact">
          <a href="https://www.facebook.com/bernardo.paredesdesantos" target="_blank">
            <img src="../../../assets/logo_facebook.png" class="contact__icon">
            Contáctame
          </a>
        </div>
        <div class="contact">
          <a href="https://github.com/Bernardo258" target="_blank">
            <img src="../../../assets/logo_github.png" class="contact__icon">
            Contáctame
          </a>
      </div>
    </div>
  <!-- Dev card -->
    <div class="card">
      <!-- Dev photo -->
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/LucyGuzman.jpg" alt="Lucía Guzmán">
            </div>
        </div>
        <!-- Dev description -->
        <div class="description">
            <h3>Lucy Guzman</h3>
            <h4>Desarrollo de Software</h4>
            <p>Juntos, creamos experiencias en línea que dejan una impresión duradera.</p>
        </div>
        <!-- Dev links -->
        <div class="contact">
          <a href="https://www.facebook.com/analucia.guzmandeloera" target="_blank">
            <img src="../../../assets/logo_facebook.png" class="contact__icon">
            Contáctame
          </a>
        </div>
        <div class="contact">
          <a href="https://github.com/AnaLucyGDL" target="_blank">
            <img src="../../../assets/logo_github.png" class="contact__icon">
            Contáctame
          </a>
      </div>
    </div>
  <!-- Dev card -->
    <div class="card">
      <!-- Dev Photo -->
        <div class="head">
            <div class="circle"></div>
            <div class="img">
                <img src="../../../assets/SebasGuerra.jpg" alt="Sebastian Guerra">
            </div>
        </div>
        <!-- Dev description -->
        <div class="description">
            <h3>Sebastian Guerra</h3>
            <h4>Desarrollo de Software</h4>
            <p>Convierto ideas en realidad digital. 💻🚀</p>
        </div>
        <!-- Dev links -->
        <div class="contact">
          <a href="https://www.facebook.com/sebastian.guerra.9849/" target="_blank">
            <img src="../../../assets/logo_facebook.png" class="contact__icon">
            Contáctame
          </a>
        </div>
        <div class="contact">
          <a href="https://github.com/SebastianDiaz49" target="_blank">
            <img src="../../../assets/logo_github.png" class="contact__icon">
            Contáctame
          </a>
      </div>
    </div>
</div>

<app-footer></app-footer>
