<div id="footer">
  <!-- Footer logo -->
  <div class="footer__logo">
    <a [routerLink]="'/'" class="link">
      <img src="../../../assets/Logo - Test.jpg" alt="MarketFree Logo" title="Logo de MarketFree">
    </a>
  </div>
  <!-- Main container for the links -->
  <div class="footer main">
    <div class="footer__column">
      <!-- Section title -->
      <div class="footer__column--title">
        <p>Conócenos</p>
      </div>
      <!-- Links -->
      <div class="footer__column--link">
        <a [routerLink]="'/about'" class="link">Acerca de los desarrolladores</a><br>
        <a [routerLink]="'/faqs'" class="link">Preguntas frecuentes</a>
      </div>
    </div>
    <div class="footer__column">
      <!-- Section title -->
      <div class="footer__column--title">
        <p>Gana con nosotros</p>
      </div>
      <!-- Links -->
      <div class="footer__column--link">
        <a [routerLink]="'/sell'" class="link">Vender en MarketFree</a><br>
        <a [routerLink]="'/sell'" class="link">Anuncia tus productos</a><br>
        <a [routerLink]="'/benefits'" class="link">Beneficios al comprar</a>
      </div>
    </div>
    <div class="footer__column">
      <!-- Section title -->
      <div class="footer__column--title">
        <p>Podemos ayudarte</p>
      </div>
      <!-- Links -->
      <div class="footer__column--link">
        <a [routerLink]="'/tutorials'" class="link">Cómo comprar</a><br>
        <a [routerLink]="'/returns'" class="link">Devolver productos</a><br>
        <a [routerLink]="'/help'" class="link">Ayuda</a>
      </div>
    </div>
    <div class="footer__column">
      <!-- Section title -->
      <div class="footer__column--title">
        <p>Métodos de pago</p>
      </div>
      <!-- Links -->
      <div class="footer__column--link">
        <a [routerLink]="'/payment-method'" fragment="credit-card" class="link">Tarjetas de crédito</a><br>
        <a [routerLink]="'/payment-method'" fragment="debit-card" class="link">Tarjetas de débito</a><br>
        <a [routerLink]="'/payment-method'" fragment="gift-card" class="link">Tarjetas de regalo</a><br>
        <a [routerLink]="'/payment-method'" fragment="atm" class="link">Pago en cajero</a><br>
        <a [routerLink]="'/payment-method'" fragment="other" class="link">Pago en otros establecimientos</a><br>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="footer__copyright">
    <p>&copy; Todos los derechos reservados. MarketFree y afiliados.</p>
  </div>
</div>
