<div id="header">
  <div class="main menu">
    <!-- MarketFree logo -->
    <a [routerLink]="'/home'">
      <img src="../../../assets/LogoMF.png" alt="MarketFree logo" title="MarketFree Logo">
    </a>
    <!-- Search bar for products -->
      <form class="menu__form">
        <input class="form-control" type="search" placeholder="Busca entre nombres, códigos, marcas...">
        <button class="btn" type="submit">Buscar</button>
      </form>
      <!-- Notifications button -->
      <!-- <button type="button" class="btn position-relative">
        <img src="../../../assets/bell.svg" alt="Notificaciones" title="Notificaciones">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">10</span>
      </button> -->
      <!-- Cart button -->
      <button [routerLink]="'/cart'" type="button" class="btn position-relative" *ngIf="userId">
        <img src="../../../assets/cart.svg" alt="Carrito" title="Mi carrito">
        <!--<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">1</span>-->
      </button>
      <!-- Profile link -->
      <a [routerLink]="'/profile'" class="link" *ngIf="userId">
        Mi perfil
      </a>
      <!-- Login link -->
      <a [routerLink]="'/login'" class="link" *ngIf="!userId">
        Login
      </a>
      <!-- Logout button -->
      <p class="link" (click)="logout()" style="margin: 20px 10px" *ngIf="userId">
        Logout
      </p>
  </div>
  <!-- Go to categories -->
  <div class="menu__categories">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Categorías
    </a>
    <ul class="dropdown-menu">
      <li *ngFor="let category of categoriesData">
        <a class="dropdown-item" (click)="navigateToCategory(category._id)">{{category.name}}</a>
      </li>
    </ul>
    <a [routerLink]="'/sell'" class="link">Vender</a>
    <a [routerLink]="'/help'" class="link">Ayuda</a>
  </div>
</div>