<div id="header">
  <div class="main menu">
    <a routerLink="/home">
      <img src="../../../assets/Logo - Test.jpg" alt="MarketFree logo" title="MarketFree Logo">
    </a>
      <form class="menu__form">
        <input class="form-control" type="search" placeholder="Busca entre nombres, códigos, marcas...">
        <button class="btn" type="submit">Buscar</button>
      </form>
      <a routerLink="/profile" class="link">
        Mi perfil
      </a>
      <button type="button" class="btn position-relative">
        <img src="../../../assets/bell.svg" alt="Notificaciones" title="Notificaciones">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">10</span>
      </button>
      <button type="button" class="btn position-relative">
        <img src="../../../assets/cart.svg" alt="Carrito" title="Mi carrito">
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">1</span>
      </button>
  </div>
</div>
