<div id="header">
  <div class="main menu">
    <!-- MarketFree logo -->
    <a [routerLink]="'/home'">
      <img src="../../../assets/LogoMF.png" alt="MarketFree logo" title="MarketFree Logo">
    </a>
      <div style="display: flex; flex: 1;"></div>
      <!-- Cart button -->
      <button [routerLink]="'/cart'" type="button" class="btn position-relative" *ngIf="userId">
        <img src="../../../assets/cart.svg" alt="Carrito" title="Mi carrito">
      </button>
      <!-- Profile link -->
      <button [routerLink]="'/profile'" type="button" class="btn position-relative" *ngIf="userId">
        <img src="../../../assets/user.png" alt="Mi perfil" title="Mi perfil" class="icon">
      </button>
      <!-- Login link -->
      <button [routerLink]="'/login'" type="button" class="btn position-relative" *ngIf="!userId">
        <img src="../../../assets/login.png" alt="Login" title="Login" class="icon">
      </button>
      <!-- Logout button -->
      <button (click)="logout()" type="button" class="btn position-relative" *ngIf="userId">
        <img src="../../../assets/login.png" alt="Logout" title="Logout" class="icon">
      </button>
  </div>
  <!-- Go to categories -->
  <div class="menu__categories">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Categorías
    </a>
    <ul class="dropdown-menu">
      <li *ngFor="let category of categoriesData">
        <a class="dropdown-item" (click)="navigateToCategory(category._id)">{{category.name}}</a>
      </li>
    </ul>
    <a [routerLink]="'/sell'" class="link">Vender</a>
    <a [routerLink]="'/help'" class="link">Ayuda</a>
  </div>
</div>
