<app-header></app-header>

<div id="home" class="main">
  <!-- Banner -->
  <div id="carousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Carousel images -->
      <div class="carousel-item active" data-bs-interval="4000">
        <img src="../../../assets/Banner - Test1.png" class="d-block w-100" alt="Banner image 1">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="../../../assets/Banner - Test2.png" class="d-block w-100" alt="Banner image 2">
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="../../../assets/Banner - Test3.png" class="d-block w-100" alt="Banner image 3">
      </div>
    </div>
    <!-- Buttons to navigate in the banner -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>

  <!-- Benefits -->
  <div id="benefits" class="benefits">
    <div class="benefits__ind" *ngFor="let benefit of benefitsData">
      <img [src]="benefit.image" class="benefits__img" alt="Benefit 1">
      <p>{{benefit.name}}</p>
    </div>
  </div>

  <!-- Categories -->
  <div id="categories">
    <div class="title">
      <p>Compra por categoría</p>
    </div>
    <div class="categories">
      <div class="categories__ind">
        <p>Mascotas</p>
      </div>
    </div>
  </div>

  <!-- Products -->
  <div id="products">
    <div class="products" *ngFor="let product of productsByCategory">
      <div class="title left">
        <p>{{product.categoryName}}</p>
      </div>
      <div class="products__row">
        <!-- Individual product -->
        <div class="products__row__card" *ngFor="let p of product.products">
          <img [src]="p.image" class="products__row__card--img" [alt]="p.name" [title]="p.name">
          <div class="products__row__card--text">
            <p>{{p.name}}</p>
            <p class="price-text">${{p.price}}</p>
          </div>
        </div>
        <div class="products__more">
          <div class="products__more--circle">
            <img src="../../../assets/arrow-right.svg" alt="Flecha para ver más" title="Da click para ver más productos">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
