@mixin flex-center-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#benefits, #categories, #products {
  padding: 20px;
}

.benefits {
  @include flex-center-wrap;
  justify-content: space-evenly;

  &__ind {
    text-align: center;
    margin: 3px 15px;
  }

  &__img {
    width: 70px;
  }
}

.categories {
  @include flex-center-wrap;

  &__ind {
    background-color: #000;
    padding: 6px 10px;
    margin: 8px;
    border-radius: 30px;

    & > p {
      margin: 0;
      color: #fff;
    }
  }
}

.products {
  position: relative;
  margin: 40px 0;

  &__row {
    display: flex;
    padding: 15px 0;
    overflow-x: hidden;

    &__card {
      border-radius: 10px;
      margin: 0 15px;
      box-shadow: 0px 0px 20px 0px #00000048;
      overflow: hidden;
      min-width: 200px;
      cursor: pointer;

      &--img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        width: 200px;
        height: 200px;
      }

      &--text {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 10px;
        background-color: #fff;

        & > p {
          margin: 0;
        }
      }
    }
  }

  &__more {
    position: absolute;
    left: 96%;
    height: 90%;
    background-image: linear-gradient(to right, transparent, #fff);

    &--circle {
      background-color: #fff;
      box-shadow: 0px 0px 20px 0px #00000048;
      padding: 15px;
      border-radius: 30px;
      position: relative;
      top: 37%;

      & > a > img {
        width: 30px;
        height: 30px;
      }
    }
  }
}
