<app-header></app-header>

<div class="checkout">
    <!-- Credit Card Design -->
    <div class="credit-card-animation">
      <img class="front-image" src="../../../assets/card-front.png" alt="Imagen frontal de tarjeta de crédito">
      <img class="back-image" src="../../../assets/card-back.png" alt="Imagen trasera de tarjeta de crédito">
    </div>
    <!-- Credit Card Info Form -->
    <form class="form" autocomplete="on">
        <div class="form-floating mb-3">
        <input type="num" class="form-control" id="floatingNumber" placeholder="Numero de tarjeta">
        <label for="floatingNumber">Numero de tarjeta</label>
        </div>
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingName" placeholder="Nombre">
        <label for="floatingName">Nombre</label>
      </div>
      <div class="form-floating mb-3">
        <input type="num" class="form-control" id="floatingDate" placeholder="Fecha de expiración">
        <label for="floatingDate">Fecha de expiración</label>
      </div>
      <div class="form-floating mb-3">
        <input type="num" class="form-control" id="floatingCVV" placeholder="CVV">
        <label for="floatingCVV">CVV</label>
      </div>
      <button class="btn">Pagar</button>
    </form>
  </div>

<app-footer></app-footer>