main {
    background-color: #f2f2f2;
  }
  
  footer {
    background-color: #ccc;
    text-align: center;
  }
  
  h1 {
    margin: 0;
  }
  
  /* Estilos del formulario de pago */
  #payment-form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 5px;
  }

  button.paypal-button {
    background-color: #003087;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button.paypal-button:hover {
    background-color: #002766;
  }
  
  button.paypal-button:active {
    background-color: #001d4e;
  }
  
  input[readonly] {
    background-color: #f2f2f2;
    cursor: not-allowed;
  }
  
  textarea {
    resize: vertical;
  }

  paypal-button-container{
    display: flex;
    align-items: center;
  }
