<app-header></app-header>
<div id="category" class="main">
  <div class="title">
    <p>Category</p>
  </div>

  <div class="flex">
    <div class="products__row">
      <div class="products__row__card">
        <img src="../../../assets/Product - Test.jpg" class="products__row__card--img" alt="Product 1">
        <div class="products__row__card--text">
          <p>Nombre del producto</p>
          <p class="price-text">Precio</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
