<app-header></app-header>
<div id="category" class="main">
  <div class="title">
    <p>{{products[0].category[0].name}}</p>
  </div>

  <div class="flex">
    <div class="products__row">
      <div class="products__row__card" *ngFor="let p of products" (click)="navigateToProduct(p._id)">
        <img [src]="p.image" class="products__row__card--img" [alt]="p.name" [title]="p.name">
        <div class="products__row__card--text">
          <p>{{p.name}}</p>
          <p class="price-text">${{p.price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
