<app-header> </app-header>

<!-- Promotion bar -->
<div class="barra" *ngIf="promotionId !== '64b43d0dc767f6cba2e2963e'">
    <p class="barra__txt">
        {{promotionName}}
    </p>
</div>

<div class="no-data" *ngIf="!productInfo">
  <p>No tenemos este producto disponible en este momento</p>
</div>

<!-- Product data -->
<div id="product" class="main" *ngIf="productInfo">
  <div class="flex-row">
    <!-- Product image -->
    <div class="image">
      <img [src]="productInfo.image" [alt]="productInfo.name" [title]="productInfo.name">
    </div>
    <!-- Product info -->
    <div class="info">
      <p class="info_nombre">{{productInfo.name}}</p>
      <p class="info_precio">${{productInfo.price}} - {{productInfo.tags[0].name}}</p>
      <p class="info_des">Descripción: {{productInfo.description}}</p>
      <button class="info_btn" (click)="addToCart()">Agregar al Carrito</button>
    </div>
  </div>
</div>

<app-footer> </app-footer>
