<app-header> </app-header>

<!-- Promotion bar -->
<div class="barra" *ngIf="promotionId !== '64b43d0dc767f6cba2e2963e'">
    <p class="barra__txt">
        {{promotionName}}
    </p>
</div>

<div class="no-data" *ngIf="!productInfo">
  <p>No tenemos este producto disponible en este momento</p>
</div>

<!-- Product data -->
<div id="product" class="main" *ngIf="productInfo">
        <div class="row" >
          <!-- Product image -->
            <div class="col-6 flex">
                <img [src]="productInfo.image" [alt]="productInfo.name" [title]="productInfo.name">
            </div>
            <!-- Product info -->
            <div class="col-6">
                <div class="info">
                    <p class="info_nombre">{{productInfo.name}}</p>
                    <p class="info_precio">${{productInfo.price}} - {{productInfo.tags[0].name}}</p>
                    <p class="info_des">Descripción: {{productInfo.description}}</p>
                    <a [routerLink]="'/payment'" class="link">
                      <button class="info_btn">Comprar Ahora</button>
                    </a>
                    <button class="info_btn">Agregar al Carrito</button>
                </div>
            </div>
        </div>

  <!-- Related products -->
  <!-- <div>
    <div class="products">
      <div class="title left">
        <p>Productos Relacionados</p>
      </div>
      List of products
      <div class="products__row">
        <div class="products__row__card">
          <img src="../../../assets/Product - Test.jpg" class="products__row__card--img" alt="Product 1">
          <div class="products__row__card--text">
            <p>Nombre del producto</p>
            <p class="price-text">Precio</p>
          </div>
        </div>
        <div class="products__more">
          <div class="products__more--circle">
            <img src="../../../assets/arrow-right.svg" alt="Flecha para ver más" title="Da click para ver más productos">
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

<app-footer> </app-footer>
