<app-header> </app-header>
<div class="header__top">
    <span>
        <i class="fas fa-shipping-fast"></i>
        Envío gratuito a domicilio a partir de MXN 699.00
    </span>
</div>
<div id="product" class="main">

    
<!--LOADER-->
<div class="loader js-loader" role="loader">
    <div class="loader__container js-loader-container">
        <i class="fas fa-spinner"></i>
        <span>
            <data class="is-add-cart-loader">Agregando producto al carrito</data>
            <data class="is-add-cart-success">Se agrego correctamente</data>
        </span>
    </div>
</div>
<!--LOADER-->


<main class="product">
    <section class="layout">
        <!--ROW-->
        <div class="product__row" role="row">
            <div class="column" role="column">
                <!--IMAGE-->
                <div class="product__thumb" role="thumb">
                    <div class="product__thumb__loader js-product-thumb-loader" role="loader"></div>
                    <div class="product__thumb__image is-background">
                        <img src="../../../assets/Product - Test.jpg" alt="Shop">
                    </div>
                </div>
                <!--IMAGE-->
            </div>
            <div class="column" role="column">
                <article class="product__information">
                    <div class="product__information__stars">
                        <i class="fas fa-star" aria-hidden="true" style="visibility: inherit; opacity: 1;"></i>
                        <i class="fas fa-star" aria-hidden="true" style="visibility: inherit; opacity: 1;"></i>
                        <i class="fas fa-star" aria-hidden="true" style="visibility: inherit; opacity: 1;"></i>
                        <i class="fas fa-star" aria-hidden="true" style="visibility: inherit; opacity: 1;"></i>
                        <i class="fas fa-star" aria-hidden="true" style="visibility: inherit; opacity: 1;"></i>
                    </div>
                    <h1>Bernardo ALV</h1>
                    
                    <span>SKU: <b>UNICO EN SU ESPECIE </b></span>
                    <span><i class="fas fa-tag"></i>Hombre</span>
                    
                    <data>$1,999.00 MXN</data>

                    <p>La mas pvta  </p>

                    <button type="button" class="js-product-add-cart">
                        <i class="fas fa-shopping-cart"></i>
                        Comprar
                    </button>
                </article>
            </div>
        </div>
        <!--ROW-->
    </section>
</main>


</div>
        <app-footer> </app-footer>