.barra{ //BARRA DE PROMOS

    background-color: #f00;
    text-align: center;

    &__txt{
        color: white;
        margin: 0;
        padding: 13px 0; //Espacio que esta adentro
        font-weight: bold;
        text-transform: uppercase; //PALABRA MAYUSCULA
    }
}

.image {
  padding: 30px;
  width: 50%;

  & > img {
    width: 100%;
  }
}

.info{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_nombre{
        font-size: 30px;
        font-weight: bold; //Letras Negritas

    }
    &_precio{
        font-weight: bold; //Letras Negritas
    }
    &_btn{
        padding: 10px 30px;
        margin-right: 20px;
        background-color: #000;
        color: #fff;
        border-radius: 25px;
        font-weight: bold; //Letras Negritas
    }
}

.flex-row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .flex-row {
    flex-direction: column !important;
  }

  .image, .info {
    text-align: center;
    padding: 20px;
    width: 100%;

    & > img {
      width: 80%;
    }
  }
}
