.login {
  margin: 5% 30% 10%;
  padding: 3%;
  border-radius: 20px;
  background-color: #fff;

  &__logo {
    padding: 0 0 15px;
    text-align: center;
  }
}

.nav {
  &-tabs {
    margin-bottom: 20px;
  }

  &-link {
    color: #000;

    &.active {
      background-color: #000;
      color: #fff;
    }
  }

}

.btn {
  background-color: #b0dbec;
  margin-top: 20px;
  width: 100%;

  &:active {
    background-color: #000;
  }
}
