#login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  margin: 3% 0;
  padding: 3%;
  border-radius: 20px;
  border: 5px double #000;
  background-color: #fff;
  width: 35%;

  &__logo {
    padding: 0 0 15px;
    text-align: center;
  }

  &__with {
    margin-top: 5%;

    & > p {
      margin: 0;
    }

    &__icons {

      &--ind {
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        border-radius: 30px;
        margin: 10px 0;
        padding: 5px;

        & > img {
          margin-right: 15px;
          width: 40px;
        }

        & > p {
          font-weight: bold;
          margin: 0;
        }
      }
    }
  }
}

.nav {
  &-tabs {
    margin-bottom: 20px;
  }

  &-link {
    color: #000;

    &.active {
      background-color: #000;
      color: #fff;
    }
  }

}

.btn {
  background-color: #b0dbec;
  margin-top: 20px;
  width: 100%;

  &:active {
    background-color: #000;
  }
}
