<app-header></app-header>
<div id="benefits" class="main">
  <div class="title">
    <p>Beneficios</p>
  </div>

  <div class="no-data" *ngIf="benefitsData.length == 0">
    <p>No hay beneficios disponibles en este momento</p>
  </div>

  <!-- Benefit area -->
  <div class="flex" *ngFor="let benefit of benefitsData">
    <!-- Benefit image -->
    <img [src]="benefit.image" [alt]="benefit.name" [title]="benefit.name" width="100" height="100">
    <!-- Benefit info -->
    <div class="data">
      <p class="subtitle">{{benefit.name}}</p>
      <p>{{benefit.description}}</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
