<app-header></app-header>
<div id="benefits" class="main">
  <div class="title">
    <p>Beneficios</p>
  </div>
  <div class="flex">
    <img src="../../../assets/Benefits - Test.jpg" alt="Benefit 1" title="Beneficio 1">
    <div class="data">
      <p class="subtitle">Beneficio</p>
      <p>Lorem, ipsum dolor sit amet cons uasi hic provident ullam iure quia qui! Ullam autem eveniet inventore praesentium, odit harum culpa molestias aspernatur quo ea blanditiis, impedit consectetur tempora veniam ipsum accusantium fugiat provident. Quis, illum suscipit. Molestias, veritatis voluptatem. In itaque laboriosam placeat consequuntur voluptatum magnam similique, vero neque ad voluptates nesciunt ex rerum ab illo doloremque dicta repellendus quam magni praesentium? Labore repudiandae laudantium repellendus eligendi quis rerum minus quo eius assumenda? Tempore inventore excepturi vitae sequi, distinctio minus iure, voluptas at dolorum laudantium quam sit ad exercitationem ab. Quisquam iure, atque minus beatae fuga totam architecto sapiente placeat. Quisquam hic optio placeat temporibus vel voluptatem laborum dignissimos, aliquid, illum natus exercitationem tempore!</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
