.main {
  padding: 30px 50px;
}

.flex {
  display: flex;
  margin: 20px 0 20px 0;
}

.data {
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 20px;
  justify-content: center;
}

.subtitle {
  font-size: 20px;
}
