   <app-header></app-header>
   <div class="container">
        <div class="row">
        <div class="col-6">
        <div class="card custom-shadow color" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title"><b>Mi cuenta</b></h5>
            <ul class="list-group list-group-flush">
              <!-- Se agrega un click para mostrar un codigo oculto "(click)="toggleDiv('')"-->
                <li class="list-group-item color" (click)="toggleDiv('opcion2')">
                  <!-- Este boton se utiliza para acceder a la funcion -->
                  <button class="btn btn-outline-secondary">
                    <img src="../../../assets/geo-alt.svg" alt="Ver mi dirección" title="Ver mi dirección">
                    Direccion
                  </button>
                </li>
                <!-- Se agrega un click para mostrar un codigo oculto "(click)="toggleDiv('')"-->
                <li class="list-group-item color" (click)="toggleDiv('opcion7')">
                  <!-- Este boton se utiliza para acceder a la funcion -->
                  <button class="btn btn-outline-secondary">
                  <img src="../../../assets/person.svg" alt="Ver mis datos" title="Ver mis datos">
                  Mis datos
                </button>
                </li>
                <!-- Se agrega un click para mostrar un codigo oculto "(click)="toggleDiv('')"-->
                <li class="list-group-item color" (click)="toggleDiv('opcion12')">
                  <!-- Este boton se utiliza para acceder a la funcion -->
                  <button (click)="goToHistory()" class="btn btn-outline-secondary">
                  <img src="../../../assets/receipt.svg" alt="Facturación" title="Facturación">
                  Historial
                </button>
                </li>
              </ul>
            </div>
        </div>
        </div>
        <!-- Se muestra la informacion del usuario -->
        <div class="col-6 d-flex align-items-center justify-content-center">
            <div class="d-flex justify-content-center align-items-center"></div>
            <div style="border-color: gray; border-width: 1px; border-style: dotted;" class="circle">
              <img src="https://i.pinimg.com/736x/8d/ff/c8/8dffc810ac2226282085257e73a60761--darth-vader-avatar.jpg" alt="Descripción de la imagen">
            </div>
            <h2 style="text-align: center;"><b>Bienvenido {{userInfo.name}}</b></h2>
            <button class="btn btn-outline-secondary" (click)="goToForm()">
              Actualizar informacion
            </button>
          </div>
        </div>
        <br>  
        <!-- ngIf se utiliza esta condicional para mostrar el codigo solo si da click al boton correspondiente -->
        <div *ngIf="Direccion">
          <div class="pagos-lista">
            <h2>Mi Direccion</h2>
            <ul>
              <li>
                <div class="pago-item">
                  <span class="pago-nombre">Direccion: {{userInfo.address}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- ngIf se utiliza esta condicional para mostrar el codigo solo si da click al boton correspondiente -->
        <div *ngIf="MisDatos">
          <div class="pagos-lista">
            <h2>Mis datos</h2>
            <ul>
              <li>
                <div class="pago-item">
                  <span class="pago-nombre">Correo: {{userInfo.email}}</span>
                </div>
                <div class="pago-item">
                  <span class="pago-nombre">Apellidos: {{userInfo.lastname}}</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
        </div>

<app-footer></app-footer>

