    <div class="container">
        <div class="row">
        <div class="col-4">
        <div class="card custom-shadow color" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title"><b>Mi cuenta</b></h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item color"><a href="#"><img src="../../../assets/truck.svg" alt=""> Mis pedidos </a> </li>
                <li class="list-group-item color"><a href="#"><img src="../../../assets/geo-alt.svg" alt=""> Direccion </a>  </li>
                <li class="list-group-item color"><a href="#"><img src="../../../assets/credit-card.svg" alt=""> Mis pagos </a> </li>
                <li class="list-group-item color"><a href="#"><img src="../../../assets/plus-circle-dotted.svg" alt=""> Marketplace VIP </a> </li>
                <li class="list-group-item color"><a href="#"><img src="../../../assets/rulers.svg" alt=""> Mis medidas </a> </li>
                <li class="list-group-item color"><a href="#"><img src="../../../assets/gift.svg" alt=""> Cupones de regalo </a> </li>
              </ul>
            </div>
        </div>
        </div>
        <div class="col-4">
            <div class="d-flex justify-content-center align-items-center"></div>
            <div class="circle">
              <img src="../../../assets/Sebas.jpg" alt="Descripción de la imagen">
            </div>
            <h2 style="text-align: center;"><b> Bienvenido Usuario</b></h2>
          </div>
          
        <div class="col-4">
            <div class="d-flex justify-content-end align-items-center">
                <div class="card custom-shadow color" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><b>Mi Informacion</b> </h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item color"><a href="#">Mis datos </a> </li>
                            <li class="list-group-item color"><a href="#">Seguridad </a>  </li>
                            <li class="list-group-item color"><a href="#">Privacidad </a> </li>
                            <li class="list-group-item color"><a href="#">Comunicaciones </a> </li>
                            <li class="list-group-item color"><a href="#">Suscripciones </a> </li>
                            <li class="list-group-item color"><a href="#">Facturacion </a> </li>
                          </ul>
                    </div>
                </div>
            </div>
        
        </div>
        </div>
    </div>


  
