.custom-shadow {
    box-shadow: 0 10px 14px rgba(0, 0, 0, 0.1);
  }

  .container{
    margin: 50px 0px 50px 120px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }
  .image-container {
    width: 300px; 
    height: 200px; 
    overflow: hidden; 
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  a{
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: blue;
    text-decoration: none;
  }
  .color{
    background-color: #f1f1f1;
  }
  .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  