<app-header></app-header>

<div id="faqs" class="main">
  <div class="title">
    <p>Preguntas frecuentes</p>
  </div>

  <div class="faqs">
    <p>
      <button class="btn faqs__category" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategory" aria-expanded="false" aria-controls="collapseExample">
        Categoría de preguntas
      </button>
    </p>

    <div class="collapse" id="collapseCategory">
      <div class="faqs__question">
        <p>
          <button class="btn faqs__question--button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseQuestion" aria-expanded="false" aria-controls="collapseExample">
            ¿Pregunta?
          </button>
        </p>
        <div class="collapse" id="collapseQuestion">
          <div class="card card-body faqs__question--answer">
            Respuesta
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
