/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: #fff;
}

.layout {
  width: 100%;
}

.main {
  margin: 0 auto;
  max-width: 1500px;
}

.title {
  font-size: 26px;
  text-align: center;
  color: #888;
}

.left {
  text-align: left;
}

.price-text {
  text-align: center;
  font-size: 22px;
  font-weight: 600;
  color: #3b853b;
}
