.form {
  max-width: 1500px;
  padding: 30px;
}

.btn {
  background-color: #000;
  color: #fff;
  margin-top: 20px;
  width: 100%;

  &:active {
    background-color: #ccc;
  }
}

@media (max-width: 500px) {
  .form {
    padding: 10px;
  }
}
