<app-header></app-header>
<!-- Register content -->
<div class="form">
  <div class="container main">
    <div class="title">
      <p>Actualizar usuario</p>
    </div>
      <!-- Form to register an user -->
      <form #form="ngForm" name="form" class="form">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingName" name="nombre"  required placeholder="Nombre" value={{userUpdated.name}} [(ngModel)]="userUpdated.name">
          <label for="floatingNamet">Nombre</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingApellido" name="lastname"  required placeholder="Apellidos" value={{userUpdated.lastname}} [(ngModel)]="userUpdated.lastname">
          <label for="floatingNamet">Apellidos</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingEmail" name="email"  required placeholder="Correo" value={{userUpdated.email}} [(ngModel)]="userUpdated.email">
          <label for="floatingEmail">Correo</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingDireccion" name="Direccion"  required placeholder="Direccion" value={{userUpdated.address}} [(ngModel)]="userUpdated.address">
          <label for="floatingEmail">Direccion</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control" id="floatingPassword" name="password"  required placeholder="Contraseña" value={{userUpdated.password}} [(ngModel)]="userUpdated.password">
          <label for="floatingPassword">Contraseña</label>
        </div>
        <button type="submit" class="btn m-3" (click)="updateUser()">Guardar</button>
      </form>
    </div>
</div>

<app-footer></app-footer>
