.main{
    display: flex;
    justify-content: center;
}

.title{
    margin-bottom: 30px;
}

.return-form {
    width: 500px;
    margin: 30px;
    padding: 40px;
    box-shadow: inset 0 1px 4px hsla(0, 0, 0, 0.2);
  
    h3 {
      text-align: center;
      margin-bottom: 30px;
    }
  
    form {
      .form-group {
        margin-bottom: 20px;

        label {
          display: block;
          margin-bottom: 5px;
        }

        select {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
          }
  
        select {
          appearance: none;
        }
      }
  
      button[type="submit"] {
        background-color: #000;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 30px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #333;
        }
      }
    }
    .flex{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
  }
  